body {
	margin:0;
}
.container {
	width:100vw;
	margin:0;
}
.jumbo {
	background:$purple url(../img/alexbanner.png) no-repeat 50% 60% fixed;
	width:100vw;
	height:80vh;
	margin-top:8vh;
	.developer {
	position:absolute;
	right:10%;
	top:20%;
	font-family:$developfont;
	font-size:50px;
	color:white;
	text-decoration:none;
	}
	.developer:hover { 
		color:orange;
	}
	.designer {
	position:absolute;
	right:10%;
	bottom:20%;
	font-size:70px;
	letter-spacing:3px;
	color:white;
	font-family:$designfont;
	text-decoration:none;
	}
	.designer:hover { 
		color:orange;
	}
}
footer {
	font-family:$generalfont;
	width:100vw;
	text-align:center;

}	
