.bar {
	width:100vw;
	position:fixed;
	top:0;
	background:white;
	display:flex;
	justify-content:space-around;
	z-index:100;
	.brand {
		margin-left:1em;
		h1 {
			font-family:$generalfont;
			text-align:left;
			a {
				text-decoration:none;
				color:black;
			}
			a:hover {
				color:$orange;
			}
		}	
	}
	.contact {
		padding-top:30px;
		display:flex;
		flex-direction:row;
		align-items:baseline;
		a {
			text-decoration:none;
			font-family:$generalfont;
			color:$orange;
			text-align:right;
			margin-right:3em;
		}
		.phone {
			p {
				text-indent:-9999px;
				font-family:$generalfont;
			}
			img {
				width:50px;
				height:auto;
			}
		}
		.mail {
			img {
				height:50px;
				width:auto;
				opacity:0.7;
			}
		}

	}
}
@media screen and (min-width:420px) {
.bar {	
	.contact {
		p {
			margin-right:0;
		}
		a {
			margin-right:0;
		}
	}
}
}
@media screen and (min-width:700px) {
	.bar {
		justify-content:space-between;
		.contact {
			padding-right:2em;
			font-size:18px;
			padding-top:1em;
		}
	}
}
