nav {
	width:100vw;
	position:fixed;
	top:0;
	background:white;
	height:90px;
	.brand {
		position:absolute;
		left:3em;
		padding-bottom:1em;
	}
	.brand:hover {
		color:orange;
	}
	.navigation {
		position:absolute;
		right:0;
		.navlist {
			font-family:$generalfont;
			color:black;
			list-style:none;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			justify-content:flex-end;
			li {
				padding:1em 2.5em;
				text-align:right;
				a {
					color:black;
					text-decoration:none;
					font-size:20px;
					font-weight:bold;
				}
				a:hover {
					color:orange;
				}
		}
	}
}
}
