.bar {
	width:100vw;
	position:fixed;
	top:0;
	background:white;
	display:flex;
	justify-content:space-around;
	z-index:100;
	.brand {
		margin-left:1em;
	}
	.brand:hover {
		color:orange;
	}
	.contact {
		padding-top:30px;
		a {
			text-decoration:none;
			font-family:$generalfont;
			color:black;
			text-align:right;
			margin-right:3em;
		}
		p {
			font-family:$generalfont;
			color:black;
			text-align:right;
			margin-right:1.5em;
		}
		a:hover, p:hover {
			color:orange;
		}
	}
}
@media screen and (min-width:420px) {
.bar {	
	.contact {
		p {
			margin-right:0;
		}
		a {
			margin-right:0;
		}
	}
}
}
@media screen and (min-width:700px) {
	.bar {
		justify-content:space-between;
		.contact {
			padding-right:2em;
			font-size:18px;
			padding-top:1em;
		}
	}
}
