//DEVELOPER SECTION
#developer {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:flex-end;
	padding-top:10em;
	#skills {
	width:100%;
		h2 {
			color:$purple;
			font-family:$developfont;
			font-size:50px;
			padding-left:0.5em;
		}
		h3 {
			margin-top:3em;
			font-size:30px;
			padding-left:1em;
		}
		ul { 
			li {
				list-style:none;
				font-family:$generalfont;
				line-height:40px;
				font-size:20px;
				span {
					margin-right:10px;
				}
			}
		}
	}
	#projects {
		width:100%;
		h3 {
			font-family:$developfont;
		}
	}
}
#designer {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-top:10em;
	align-items:flex-start;
	#skills {
	width:100%;
		h2 {
			color:$purple;
			font-family:$designfont;
			font-size:70px;
			text-align:right;
			margin-top:0;
		}
		h3 {
			font-size:30px;
			text-align:right;
		}
		ul { 
			li {
				list-style:none;
				font-family:$generalfont;
				line-height:40px;
				font-size:20px;
				text-align:right;
				span {
					margin-left:10px;
				}
			}
		}
	}
	#projects {
		width:100%;
	}
}	

//slides
.rslides-container {   
	border-radius:8px;
    position: relative;
    margin: 0 0 1em 0;
    padding: 0.375em;
    background: #fff;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height:50vh;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
}

/* Slideshow navigator arrows. */

a.rslides_nav {
    padding: 0.25em;
    line-height: 1;
}

a.rslides_nav.prev {
        float: left;
        /* This CSS for custom icons */
        position:absolute; 
        top:50%; 
        z-index:10; 
        background: url(../img/aleft.svg) no-repeat; 
        width:30px;
        height:30px;
        margin-top:-30px;
    }

a.rslides_nav.next {
        float: right;
         /* This CSS for custom icons */
        position:absolute; 
        top:50%; 
        z-index:10; 
        background: url(../img/aright.svg) no-repeat; 
        width:30px;
        height:30px;
        margin-top:-30px;
        right:5px; /* to position to the right */
    }

a.rslides_nav:hover {
        text-decoration: none;
    }

/* Slideshow position indicator tabs. */

.rslides_tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1;
}

.rslides_tabs li {
        margin: 0.375em 0.25em 0;
        display: inline-block;
    }

.rslides_tabs a {
		text-indent: -9999px;
		font-size:12px;
		border-radius:50%;
        display: block;
        border: 1px solid;
        border-color: #ccc;
        background: #eee;
        width: 1em;  // 12px
        height: 1em; // 12px
    }

.rslides_tabs a:hover {
            border-color: #000;
        }

/* Highlight the position indicator tab of currently active slide. */

.rslides_here a {
    background: #e3e3e3;
}
.rslides li img {
   width:200px;
}
 .rslides li .lg {
  	width:250px;
  	height:auto;
  }
   .rslides li .md {
  	width:200px;
  	height:auto;
  }
 .title {
	h3 {
		font-family:$developfont;
		color:$purple;
		font-size:30px;
		text-transform:uppercase;
	}
	p {
	font-family:$generalfont;
	font-size:20px;
	width:70%;
	padding-bottom:1em;
	height:100px;
	text-align:center;
	}
 }
 .links {
  	display:flex;
  	flex-wrap:wrap;
  	justify-content:center;
  	width:88%;
  	padding-left:2em;
  	a {
  		font-family:$generalfont;
  		font-size:18px;
  		border:2px solid $purple;
  		color:$purple;
  		text-decoration:none;
  		padding:1em 1.5em;
  		margin-top:1em;
  		text-align:center;
  	}
  	a:hover {
  		color:white;
  		background:$purple;
  		border:2px solid $purple;
  	}
}

@media screen and (min-width:800px) {
#developer, #designer	{
	#skills {
		width:50%;
	}
	#projects {
		width:50%;
		.rslides {
			li {
				height:65vh;
			}
		}
	}
}
	#designer {
	height:65vh;
		#skills {
			width:50%;
			order:2;
		}
		footer {
			order:3;
		}
	}
}		

@media screen and (min-width:1200px) {
	#developer, #designer {
		#projects {
			.rslides {
				li {
				.lg {
					width:500px;
				}
				.md {
					width:300px;
				}
				}
			}
		}
	}
}

