#workhome {
	background:$purple;
	padding-top:10vh;
	height:80vh;
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	h2 {
		color:white;
		font-size:70px;
		font-family:$generalfont;
	}
	a {
		color:white;
		text-decoration:none;
		border:white 2px solid;
		padding:0.8em 1em;
		font-family:$generalfont;
		margin-left:0.5em;
	}
	a:hover {
		color:$purple;
		background:white;
	}
}
//DEVELOPER SECTION
#developer {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:stretch;
	padding-top:10em;
	#skills {
	background:url(../img/codeface.png) no-repeat bottom right;
	width:100%;
		h2 {
			color:$purple;
			font-family:$developfont;
			font-size:65px;
			padding-left:5%;
		}
		h3 {
			margin-top:3em;
			font-size:30px;
			padding-left:5%;
		}
		ul { 
			padding-left:5%;
			li {
				list-style:none;
				font-family:$generalfont;
				line-height:40px;
				font-size:20px;
				span {
					margin-right:10px;
				}
			}
		}
	}
	#projects {
		height:75vh;
		width:100%;
		h3 {
			font-family:$developfont;
		}
		#project1 {
			background:grey url(../img/shoppe.png) no-repeat center bottom;
			background-size:cover;
			height:50%;
			h3 {
				color:$purple;
				font-size:30px;
				text-align:right;
				padding-top:1em;
				font-family:helvetica;
				font-weight:bold;
				text-shadow:2px 2px 2px white;
				margin:0;
			}
		}
	}
}

@media screen and (min-width:800px) {
	#developer {
		#skills {
			width:50%;
		}
		#projects {
			width:50%;
			#project1, #project2 {
				height:50%;			}
		}
	}
}
@media screen and (min-width:900px) {
	#developer {
		#skills {
			ul, h3 {
				padding-left:10vw;
			}
			h2 {
				padding-left:10vw;
			}
		}
	}
			
}
@media screen and (min-width:1200px) {
	#developer {
		#skills {
			background:url(../img/codeface5.png)  no-repeat bottom right;
		}
	}
}
@media screen and (min-width:1300px) {
	#developer {
		#skills {
			background:url(../img/codeface4.png) no-repeat bottom right;
		}
	}
}
@media screen and (min-width:1500px) {
	#developer {
		#skills {
			background:url(../img/codeface2.png)  no-repeat bottom right;
		}
	}
}
@media screen and (min-width:1600px) {
	#developer {
		#skills {
			background:url(../img/codeface3.png)  no-repeat bottom right;
		}
	}
}
//DESIGN SECTION

#designer {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-top:10em;
	align-items:stretch;
	#skills {
	width:100%;
	background:url(../img/designface1.png) no-repeat center center;
	background-size:cover;
		h2 {
			color:$purple;
			font-family:$designfont;
			font-size:80px;
			text-align:right;
			padding-right:5%;
		}
		h3 {
			margin-top:3em;
			font-size:30px;
			text-align:right;
			padding-right:5%;
		}
		ul { 
			padding-right:5%;
			li {
				list-style:none;
				font-family:$generalfont;
				line-height:40px;
				font-size:20px;
				text-align:right;
				span {
					margin-left:10px;
				}
			}
		}
	}
	#projects {
		width:100%;
		h3 {
			font-family:$designfont;
			margin:0;
		}
		#project1 {
			background:pink;
			h3 {
				color:$purple;
				font-size:30px;
				text-align:right;
				padding-top:1em;
				font-family:helvetica;
				font-weight:bold;
				text-shadow:2px 2px 2px white;
			}
		}	
		#project2 {
			background:pink;
		}
	}
}
@media screen and (min-width:700px) {
	#designer {
		#skills {
			background:url(../img/designface800.png) no-repeat top left;
			background-size:cover;
		}
	}
		
	}
@media screen and (min-width:800px) {
#designer {
		#skills {
			width:50%;
			order:2;
			background:url(../img/designface.png) no-repeat top left;
			background-size:cover;
		}
		#projects {
			width:50%;
			order:1;
			#project1, #project2 {
				height:50%;	
				margin:0;
				padding:0;		}
		}
		footer {
			order:3;
		}
	}
}
#designer {
		#skills {
			ul, h3 {
				padding-right:10vw;
			}
			h2 {
				padding-right:10vw;
			}
		}
	}		
@media screen and (min-width:1200px) {
	#designer {
		#skills {
			background:url(../img/designface5.png)  no-repeat top left;
			background-size:cover;
		}
	}
}
@media screen and (min-width:1300px) {
	#designer{
		#skills {
			background:url(../img/designface4.png) no-repeat top left;
			background-size:cover;
		}
	}
}
@media screen and (min-width:1500px) {
	#designer {
		#skills {
			background:url(../img/designface2.png)  no-repeat top left;
			background-size:cover;
		}
	}
}
@media screen and (min-width:1600px) {
	#designer {
		#skills {
			background:url(../img/designface3.png)  no-repeat  top left;
			background-size:cover;
		}
	}
}