@import url(https://fonts.googleapis.com/css?family=Muli|Droid+Sans+Mono|Acme|Norican|Fredoka+One);

$generalfont: 'Muli', sans-serif;
$developfont: 'Droid Sans Mono', serif;
$designfont: 'Norican', cursive;

h1 {
	font-family:$generalfont;
	text-align:left;
	a {
		text-decoration:none;
		color:black;
	}
	a:hover {
		color:orange;
	}
	.top {
		
	}
}
	.developfont
	{
	font-family:$developfont;
	font-size:20px;
	letter-spacing:8px;
	}
	.designfont
	{
	font-family:$designfont;
	font-size:25px;
	}
	
.subtitle {
	font-family:$developfont;
}	