@import url(https://fonts.googleapis.com/css?family=Muli|Droid+Sans+Mono|Acme|Norican|Fredoka+One);

$generalfont: 'Muli', sans-serif;
$developfont: 'Droid Sans Mono' ;
$designfont: 'Norican', cursive;

h1 {
	a {
		color:$purple;
		text-decoration:none;
	}
}
	.developfont
	{
	font-family:$developfont;
	font-size:30px;
	letter-spacing:8px;
	}
	.designfont
	{
	font-family:$designfont;
	font-size:40px;
	}
	
.subtitle {
	font-family:$developfont;
}	