@import url(https://fonts.googleapis.com/css?family=Muli|Droid+Sans+Mono|Acme|Norican|Fredoka+One);
//fonts
$generalfont: 'Muli', sans-serif;
$developfont: 'Droid Sans Mono', serif;
$designfont: 'Norican', cursive;

//colors
$purple:#8592f6;
$orange: #f27b22;