@import url(https://fonts.googleapis.com/css?family=Muli|Droid+Sans+Mono|Acme|Norican|Fredoka+One);
/* line 7, ../../src/sass/_typography.scss */
h1 {
  font-family: "Muli", sans-serif;
  text-align: left;
}
/* line 10, ../../src/sass/_typography.scss */
h1 a {
  text-decoration: none;
  color: black;
}
/* line 14, ../../src/sass/_typography.scss */
h1 a:hover {
  color: orange;
}

/* line 18, ../../src/sass/_typography.scss */
.subtitle {
  font-family: "Droid Sans Mono", serif;
}

/* line 1, ../../src/sass/_layout.scss */
body {
  margin: 0;
}

/* line 4, ../../src/sass/_layout.scss */
.container {
  width: 100vw;
  margin: 0;
}

/* line 8, ../../src/sass/_layout.scss */
#wrapper {
  width: 88%;
  margin: 0 auto;
}

/* line 12, ../../src/sass/_layout.scss */
.jumbo {
  background: #8592f6 url(../img/alexbanner.png) no-repeat 50% 100%;
  width: 100vw;
  height: 70vh;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  z-index: 2000;
}
/* line 22, ../../src/sass/_layout.scss */
.jumbo .roles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 8em;
  padding-bottom: 2em;
}
/* line 28, ../../src/sass/_layout.scss */
.jumbo .roles .developer {
  font-family: "Droid Sans Mono", serif;
  font-size: 50px;
  color: white;
  text-decoration: none;
}
/* line 34, ../../src/sass/_layout.scss */
.jumbo .roles .developer:hover {
  color: orange;
}
/* line 37, ../../src/sass/_layout.scss */
.jumbo .roles .designer {
  font-size: 70px;
  letter-spacing: 3px;
  color: white;
  font-family: "Norican", cursive;
  text-decoration: none;
}
/* line 44, ../../src/sass/_layout.scss */
.jumbo .roles .designer:hover {
  color: orange;
}

/* line 49, ../../src/sass/_layout.scss */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
/* line 54, ../../src/sass/_layout.scss */
.buttons a {
  color: #8592f6;
  text-decoration: none;
  border: #8592f6 2px solid;
  padding: 0.8em 1em;
  font-family: "Muli", sans-serif;
  margin-left: 0.5em;
  margin-top: 5vh;
}
/* line 63, ../../src/sass/_layout.scss */
.buttons a:hover {
  color: white;
  background: #8592f6;
}

/* line 68, ../../src/sass/_layout.scss */
footer {
  font-family: "Muli", sans-serif;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  /* line 77, ../../src/sass/_layout.scss */
  .jumbo {
    justify-content: flex-end;
  }
  /* line 79, ../../src/sass/_layout.scss */
  .jumbo .roles {
    padding-right: 10vw;
    padding-bottom: 5em;
  }
}
/* line 1, ../../src/sass/_navigation.scss */
.bar {
  width: 100vw;
  position: fixed;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}
/* line 9, ../../src/sass/_navigation.scss */
.bar .brand {
  margin-left: 1em;
}
/* line 12, ../../src/sass/_navigation.scss */
.bar .brand:hover {
  color: orange;
}
/* line 15, ../../src/sass/_navigation.scss */
.bar .contact {
  padding-top: 30px;
}
/* line 17, ../../src/sass/_navigation.scss */
.bar .contact a {
  text-decoration: none;
  font-family: "Muli", sans-serif;
  color: black;
  text-align: right;
  margin-right: 3em;
}
/* line 24, ../../src/sass/_navigation.scss */
.bar .contact p {
  font-family: "Muli", sans-serif;
  color: black;
  text-align: right;
  margin-right: 1.5em;
}

@media screen and (min-width: 420px) {
  /* line 35, ../../src/sass/_navigation.scss */
  .bar .contact p {
    margin-right: 0;
  }
  /* line 38, ../../src/sass/_navigation.scss */
  .bar .contact a {
    margin-right: 0;
  }
}
@media screen and (min-width: 700px) {
  /* line 45, ../../src/sass/_navigation.scss */
  .bar {
    justify-content: space-between;
  }
  /* line 47, ../../src/sass/_navigation.scss */
  .bar .contact {
    padding-right: 2em;
  }
}
/* line 2, ../../src/sass/_portfoliopages.scss */
#developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 10em;
}
/* line 8, ../../src/sass/_portfoliopages.scss */
#developer #skills {
  width: 100%;
}
/* line 10, ../../src/sass/_portfoliopages.scss */
#developer #skills h2 {
  color: #8592f6;
  font-family: "Droid Sans Mono", serif;
  font-size: 50px;
}
/* line 15, ../../src/sass/_portfoliopages.scss */
#developer #skills h3 {
  margin-top: 3em;
  font-size: 30px;
}
/* line 20, ../../src/sass/_portfoliopages.scss */
#developer #skills ul li {
  list-style: none;
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
}
/* line 25, ../../src/sass/_portfoliopages.scss */
#developer #skills ul li span {
  margin-right: 10px;
}
/* line 31, ../../src/sass/_portfoliopages.scss */
#developer #projects {
  width: 100%;
}
/* line 33, ../../src/sass/_portfoliopages.scss */
#developer #projects h3 {
  font-family: "Droid Sans Mono", serif;
}

/* line 38, ../../src/sass/_portfoliopages.scss */
#designer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10em;
  align-items: flex-start;
}
/* line 44, ../../src/sass/_portfoliopages.scss */
#designer #skills {
  width: 100%;
}
/* line 46, ../../src/sass/_portfoliopages.scss */
#designer #skills h2 {
  color: #8592f6;
  font-family: "Norican", cursive;
  font-size: 70px;
  text-align: right;
  margin-top: 0;
}
/* line 53, ../../src/sass/_portfoliopages.scss */
#designer #skills h3 {
  font-size: 30px;
  text-align: right;
}
/* line 58, ../../src/sass/_portfoliopages.scss */
#designer #skills ul li {
  list-style: none;
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
  text-align: right;
}
/* line 64, ../../src/sass/_portfoliopages.scss */
#designer #skills ul li span {
  margin-left: 10px;
}
/* line 70, ../../src/sass/_portfoliopages.scss */
#designer #projects {
  width: 100%;
}

/* line 76, ../../src/sass/_portfoliopages.scss */
.rslides-container {
  border-radius: 8px;
  position: relative;
  margin: 0 0 1em 0;
  padding: 0.375em;
  background: #fff;
}

/* line 84, ../../src/sass/_portfoliopages.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 91, ../../src/sass/_portfoliopages.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Slideshow navigator arrows. */
/* line 108, ../../src/sass/_portfoliopages.scss */
a.rslides_nav {
  padding: 0.25em;
  line-height: 1;
}

/* line 113, ../../src/sass/_portfoliopages.scss */
a.rslides_nav.prev {
  float: left;
  /* This CSS for custom icons */
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../img/aleft.svg) no-repeat;
  width: 50px;
  height: 50px;
  margin-top: -50px;
}

/* line 125, ../../src/sass/_portfoliopages.scss */
a.rslides_nav.next {
  float: right;
  /* This CSS for custom icons */
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../img/aright.svg) no-repeat;
  width: 50px;
  height: 50px;
  margin-top: -50px;
  right: 5px;
  /* to position to the right */
}

/* line 138, ../../src/sass/_portfoliopages.scss */
a.rslides_nav:hover {
  text-decoration: none;
}

/* Slideshow position indicator tabs. */
/* line 144, ../../src/sass/_portfoliopages.scss */
.rslides_tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
}

/* line 151, ../../src/sass/_portfoliopages.scss */
.rslides_tabs li {
  margin: 0.375em 0.25em 0;
  display: inline-block;
}

/* line 156, ../../src/sass/_portfoliopages.scss */
.rslides_tabs a {
  text-indent: -9999px;
  font-size: 12px;
  border-radius: 50%;
  display: block;
  border: 1px solid;
  border-color: #ccc;
  background: #eee;
  width: 1em;
  height: 1em;
}

/* line 168, ../../src/sass/_portfoliopages.scss */
.rslides_tabs a:hover {
  border-color: #000;
}

/* Highlight the position indicator tab of currently active slide. */
/* line 174, ../../src/sass/_portfoliopages.scss */
.rslides_here a {
  background: #e3e3e3;
}

/* line 177, ../../src/sass/_portfoliopages.scss */
.rslides li img {
  width: 200px;
}

/* line 180, ../../src/sass/_portfoliopages.scss */
.rslides li .lg {
  width: 400px;
  height: auto;
}

/* line 184, ../../src/sass/_portfoliopages.scss */
.rslides li .md {
  width: 300px;
  height: auto;
}

/* line 188, ../../src/sass/_portfoliopages.scss */
.title {
  background: #8592f6;
}
/* line 190, ../../src/sass/_portfoliopages.scss */
.title h3 {
  font-family: "Droid Sans Mono", serif;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  padding-left: 1.5em;
}
/* line 197, ../../src/sass/_portfoliopages.scss */
.title p {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  width: 88%;
  padding-bottom: 1em;
  padding-left: 2em;
  height: 100px;
}

/* line 206, ../../src/sass/_portfoliopages.scss */
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 88%;
  padding-left: 2em;
}
/* line 212, ../../src/sass/_portfoliopages.scss */
.links a {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
  margin-right: 1em;
  margin-top: 1em;
}
/* line 222, ../../src/sass/_portfoliopages.scss */
.links a:hover {
  color: #8592f6;
  background: white;
  border: 2px solid white;
}

@media screen and (min-width: 800px) {
  /* line 231, ../../src/sass/_portfoliopages.scss */
  #developer #skills, #designer #skills {
    width: 50%;
  }
  /* line 234, ../../src/sass/_portfoliopages.scss */
  #developer #projects, #designer #projects {
    width: 50%;
  }
  /* line 237, ../../src/sass/_portfoliopages.scss */
  #developer #projects .slides li, #designer #projects .slides li {
    height: 65vh;
  }

  /* line 243, ../../src/sass/_portfoliopages.scss */
  #designer {
    height: 65vh;
  }
  /* line 245, ../../src/sass/_portfoliopages.scss */
  #designer #skills {
    width: 50%;
    order: 2;
  }
  /* line 249, ../../src/sass/_portfoliopages.scss */
  #designer footer {
    order: 3;
  }
}
