@import url(https://fonts.googleapis.com/css?family=Muli|Droid+Sans+Mono|Acme|Norican|Fredoka+One);
/* line 1, ../../src/sass/_layout.scss */
body {
  margin: 0;
}

/* line 4, ../../src/sass/_layout.scss */
.container {
  width: 100%;
  margin: 0;
}

/* line 8, ../../src/sass/_layout.scss */
#wrapper {
  width: 88%;
  margin: 0 auto;
}

/* line 12, ../../src/sass/_layout.scss */
.jumbo {
  background: #8592f6 url(../img/alexbanner.png) no-repeat 50% 100%;
  width: 100%;
  height: 70vh;
  margin-top: 10vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
/* line 30, ../../src/sass/_layout.scss */
.jumbo .roles .developer {
  font-family: "Droid Sans Mono", serif;
  font-size: 35px;
  color: white;
  text-decoration: none;
}
/* line 36, ../../src/sass/_layout.scss */
.jumbo .roles .designer {
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
  font-family: "Norican", cursive;
  text-decoration: none;
}

/* line 45, ../../src/sass/_layout.scss */
.buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
/* line 58, ../../src/sass/_layout.scss */
.buttons a {
  color: #8592f6;
  text-decoration: none;
  border: #8592f6 2px solid;
  padding: 0.8em 1em;
  font-family: "Muli", sans-serif;
  margin-left: 0.5em;
  margin-top: 5vh;
  font-size: 18px;
}
@-webkit-keyframes enlarge {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes enlarge {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/* line 88, ../../src/sass/_layout.scss */
.buttons a:hover {
  color: white;
  background: #8592f6;
  -webkit-animation: enlarge 2s infinite alternate;
  animation: enlarge 2s infinite alternate;
}

/* line 95, ../../src/sass/_layout.scss */
footer {
  font-family: "Muli", sans-serif;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  /* line 110, ../../src/sass/_layout.scss */
  .jumbo {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* line 117, ../../src/sass/_layout.scss */
  .jumbo .roles {
    padding-left: 10%;
  }
  /* line 119, ../../src/sass/_layout.scss */
  .jumbo .roles .developer {
    font-size: 50px;
  }
  /* line 122, ../../src/sass/_layout.scss */
  .jumbo .roles .designer {
    font-size: 60px;
  }
}
@media screen and (min-width: 1300px) {
  /* line 130, ../../src/sass/_layout.scss */
  .jumbo .roles {
    padding-left: 20%;
  }
}
@media screen and (min-width: 1400px) {
  /* line 136, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1600w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 1400px) {
  /* line 141, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1400w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 146, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1200w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 1000px) {
  /* line 151, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1000w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 850px) {
  /* line 156, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner850w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 161, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner700w.png) no-repeat 50% 100%;
  }
}
/* line 1, ../../src/sass/_navbar.scss */
.bar {
  width: 100vw;
  position: fixed;
  top: 0;
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 100;
  height: 120px;
}
/* line 14, ../../src/sass/_navbar.scss */
.bar .brand {
  margin-left: 1em;
}
/* line 16, ../../src/sass/_navbar.scss */
.bar .brand h1 {
  font-family: "Muli", sans-serif;
  text-align: left;
}
/* line 19, ../../src/sass/_navbar.scss */
.bar .brand h1 a {
  text-decoration: none;
  color: black;
}
/* line 23, ../../src/sass/_navbar.scss */
.bar .brand h1 a:hover {
  color: #f27b22;
}
/* line 28, ../../src/sass/_navbar.scss */
.bar .contact {
  padding-top: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
/* line 39, ../../src/sass/_navbar.scss */
.bar .contact a {
  text-decoration: none;
  font-family: "Muli", sans-serif;
  color: #f27b22;
  text-align: right;
  margin-right: 3em;
}
/* line 47, ../../src/sass/_navbar.scss */
.bar .contact .phone p {
  font-family: "Muli", sans-serif;
  color: #f27b22;
}
/* line 51, ../../src/sass/_navbar.scss */
.bar .contact .phone img {
  width: 50px;
  height: auto;
}
@-webkit-keyframes enlarge {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes enlarge {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/* line 76, ../../src/sass/_navbar.scss */
.bar .contact .phone:hover, .bar .contact .mail:hover {
  -webkit-animation: enlarge 2s infinite alternate;
  animation: enlarge 2s infinite alternate;
}
/* line 81, ../../src/sass/_navbar.scss */
.bar .contact .mail img {
  height: 50px;
  width: auto;
  opacity: 0.7;
}

@media screen and (min-width: 420px) {
  /* line 93, ../../src/sass/_navbar.scss */
  .bar .contact p {
    margin-right: 0;
  }
  /* line 96, ../../src/sass/_navbar.scss */
  .bar .contact a {
    margin-right: 0;
  }
}
@media screen and (min-width: 700px) {
  /* line 103, ../../src/sass/_navbar.scss */
  .bar {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  /* line 107, ../../src/sass/_navbar.scss */
  .bar .contact {
    padding-right: 2em;
    font-size: 18px;
    padding-top: 1em;
  }
}
/* line 2, ../../src/sass/_portfolio.scss */
#developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 8em;
}
/* line 8, ../../src/sass/_portfolio.scss */
#developer #skills1 {
  width: 100%;
}
/* line 10, ../../src/sass/_portfolio.scss */
#developer #skills1 h2 {
  color: #8592f6;
  font-family: "Droid Sans Mono", serif;
  font-size: 40px;
  padding-left: 0.5em;
}
/* line 16, ../../src/sass/_portfolio.scss */
#developer #skills1 h3 {
  font-family: "Droid Sans Mono", serif;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 30px;
  padding-left: 1em;
}
/* line 24, ../../src/sass/_portfolio.scss */
#developer #skills1 ul li {
  list-style: none;
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 0.8px;
}
/* line 30, ../../src/sass/_portfolio.scss */
#developer #skills1 ul li span {
  margin-right: 10px;
}
/* line 36, ../../src/sass/_portfolio.scss */
#developer #projects1 {
  width: 100%;
}
/* line 38, ../../src/sass/_portfolio.scss */
#developer #projects1 h3 {
  font-family: "Droid Sans Mono", serif;
}

/* line 43, ../../src/sass/_portfolio.scss */
#designer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10em;
  align-items: center;
  padding-bottom: 10em;
}
/* line 49, ../../src/sass/_portfolio.scss */
#designer #skills2 {
  width: 100%;
}
/* line 51, ../../src/sass/_portfolio.scss */
#designer #skills2 h2 {
  color: #8592f6;
  font-family: "Norican", cursive;
  font-size: 70px;
  text-align: right;
  margin-top: 0;
}
/* line 58, ../../src/sass/_portfolio.scss */
#designer #skills2 h3 {
  text-align: right;
  font-family: "Droid Sans Mono", serif;
  font-size: 30px;
  padding-bottom: 1em;
}
/* line 65, ../../src/sass/_portfolio.scss */
#designer #skills2 ul li {
  list-style: none;
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.8px;
}
/* line 72, ../../src/sass/_portfolio.scss */
#designer #skills2 ul li span {
  margin-left: 10px;
}
/* line 78, ../../src/sass/_portfolio.scss */
#designer #projects2 {
  width: 100%;
}

/* line 85, ../../src/sass/_portfolio.scss */
.rslides-container {
  border-radius: 8px;
  position: relative;
  margin: 0 0 1em 0;
  padding: 0.375em;
  background: #fff;
}

/* line 93, ../../src/sass/_portfolio.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 100, ../../src/sass/_portfolio.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Slideshow navigator arrows. */
/* line 116, ../../src/sass/_portfolio.scss */
a.rslides_nav {
  padding: 0.25em;
  line-height: 1;
}

/* line 121, ../../src/sass/_portfolio.scss */
a.rslides_nav.prev {
  float: left;
  /* This CSS for custom icons */
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../img/aleft.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-top: -30px;
}

/* line 133, ../../src/sass/_portfolio.scss */
a.rslides_nav.next {
  float: right;
  /* This CSS for custom icons */
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../img/aright.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-top: -30px;
  right: 5px;
  /* to position to the right */
}

/* line 146, ../../src/sass/_portfolio.scss */
a.rslides_nav:hover {
  text-decoration: none;
}

/* Slideshow position indicator tabs. */
/* line 152, ../../src/sass/_portfolio.scss */
.rslides_tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
}

/* line 159, ../../src/sass/_portfolio.scss */
.rslides_tabs li {
  margin: 0.375em 0.25em 0;
  display: inline-block;
}

/* line 164, ../../src/sass/_portfolio.scss */
.rslides_tabs a {
  text-indent: -9999px;
  font-size: 12px;
  border-radius: 50%;
  display: block;
  background: #eee;
  width: 1em;
  height: 1em;
}

/* line 174, ../../src/sass/_portfolio.scss */
.rslides_tabs a:hover {
  border-color: #000;
}

/* Highlight the position indicator tab of currently active slide. */
/* line 180, ../../src/sass/_portfolio.scss */
.rslides_here a {
  background: #f27b22;
  border: none;
}

/* line 184, ../../src/sass/_portfolio.scss */
.rslides li img {
  width: 100px;
}

/* line 187, ../../src/sass/_portfolio.scss */
.rslides li .lg {
  width: 250px;
  height: auto;
}

/* line 191, ../../src/sass/_portfolio.scss */
.rslides li .md {
  width: 180px;
  height: auto;
}

/* line 196, ../../src/sass/_portfolio.scss */
.title h3 {
  font-family: "Droid Sans Mono", serif;
  color: #8592f6;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
/* line 203, ../../src/sass/_portfolio.scss */
.title p {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  width: 70%;
  padding-bottom: 1em;
  height: 100px;
  text-align: center;
  letter-spacing: 0.8px;
}

/* line 213, ../../src/sass/_portfolio.scss */
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 88%;
}
/* line 218, ../../src/sass/_portfolio.scss */
.links a {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  border: 2px solid #8592f6;
  color: #8592f6;
  text-decoration: none;
  padding: 0.8em 1.2em;
  letter-spacing: 0.8px;
}
@-webkit-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-moz-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-o-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
/* line 259, ../../src/sass/_portfolio.scss */
.links a:hover {
  color: white;
  background: #8592f6;
  border: 2px solid #8592f6;
  -webkit-animation: enlarge 2s infinite alternate;
  -moz-animation: enlarge 2s infinite alternate;
  -o-animation: enlarge 2s infinite alternate;
  animation: enlarge 2s infinite alternate;
}

/* line 269, ../../src/sass/_portfolio.scss */
#pageend {
  background: #8592f6;
  width: 100%;
  color: white;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20vh;
}
/* line 278, ../../src/sass/_portfolio.scss */
#pageend h3 {
  font-size: 40px;
  text-align: center;
}
/* line 282, ../../src/sass/_portfolio.scss */
#pageend a {
  color: white;
  border: 2px solid white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.8px;
}
@-webkit-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-moz-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-o-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
/* line 323, ../../src/sass/_portfolio.scss */
#pageend a:hover {
  color: #8592f6;
  background: white;
  border: 2px solid white;
  -webkit-animation: enlarge 2s infinite alternate;
  -moz-animation: enlarge 2s infinite alternate;
  -o-animation: enlarge 2s infinite alternate;
  animation: enlarge 2s infinite alternate;
}
/* line 332, ../../src/sass/_portfolio.scss */
#pageend p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.8px;
}
/* line 339, ../../src/sass/_portfolio.scss */
#pageend footer {
  padding-top: 10em;
}
/* line 343, ../../src/sass/_portfolio.scss */
#pageend .left, #pageend .right {
  width: 88%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* line 351, ../../src/sass/_portfolio.scss */
#pageend .left .social-media, #pageend .right .social-media {
  list-style: none;
  padding: 0;
}
/* line 354, ../../src/sass/_portfolio.scss */
#pageend .left .social-media li, #pageend .right .social-media li {
  margin-right: .5em;
  border-radius: 3px;
  float: left;
}
/* line 358, ../../src/sass/_portfolio.scss */
#pageend .left .social-media li a, #pageend .right .social-media li a {
  display: block;
  padding: 0;
}
/* line 364, ../../src/sass/_portfolio.scss */
#pageend .left .social-media .linkedin a, #pageend .right .social-media .linkedin a {
  width: 30px;
  height: 30px;
  background: url(../img/social.png) no-repeat;
  border: none;
}
/* line 374, ../../src/sass/_portfolio.scss */
#pageend .left .social-media .github a, #pageend .right .social-media .github a {
  width: 30px;
  height: 30px;
  background: url(../img/social.png) no-repeat;
  background-position: -30px 0;
  border: none;
}
@-webkit-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-moz-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-o-keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* line 416, ../../src/sass/_portfolio.scss */
#pageend .left .social-media .linkedin:hover, #pageend .left .social-media .github:hover, #pageend .right .social-media .linkedin:hover, #pageend .right .social-media .github:hover {
  -webkit-animation: enlarge 2s infinite alternate;
  -moz-animation: enlarge 2s infinite alternate;
  -o-animation: enlarge 2s infinite alternate;
  animation: enlarge 2s infinite alternate;
}

@media screen and (min-width: 500px) {
  /* line 427, ../../src/sass/_portfolio.scss */
  #pageend a {
    width: 30%;
  }
  /* line 430, ../../src/sass/_portfolio.scss */
  #pageend p {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  /* line 437, ../../src/sass/_portfolio.scss */
  #developer #skills1, #developer #skills2, #designer #skills1, #designer #skills2 {
    width: 50%;
  }
  /* line 440, ../../src/sass/_portfolio.scss */
  #developer #projects1, #developer #projects2, #designer #projects1, #designer #projects2 {
    width: 50%;
  }
  /* line 443, ../../src/sass/_portfolio.scss */
  #developer #projects1 .rslides li, #developer #projects2 .rslides li, #designer #projects1 .rslides li, #designer #projects2 .rslides li {
    height: 60vh;
  }
  /* line 447, ../../src/sass/_portfolio.scss */
  #developer #projects1 .rslides .title p, #developer #projects2 .rslides .title p, #designer #projects1 .rslides .title p, #designer #projects2 .rslides .title p {
    font-size: 20px;
  }

  /* line 454, ../../src/sass/_portfolio.scss */
  #designer {
    height: 65vh;
  }
  /* line 456, ../../src/sass/_portfolio.scss */
  #designer #skills2 {
    width: 50%;
    order: 2;
  }
  /* line 460, ../../src/sass/_portfolio.scss */
  #designer #projects2 {
    order: 1;
    width: 50%;
  }

  /* line 465, ../../src/sass/_portfolio.scss */
  #pageend {
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 468, ../../src/sass/_portfolio.scss */
  #pageend .left, #pageend .right {
    width: 50%;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  /* line 480, ../../src/sass/_portfolio.scss */
  #developer #projects1 .rslides-container .rslides li .lg, #developer #projects2 .rslides-container .rslides li .lg, #designer #projects1 .rslides-container .rslides li .lg, #designer #projects2 .rslides-container .rslides li .lg {
    width: 500px;
  }
  /* line 483, ../../src/sass/_portfolio.scss */
  #developer #projects1 .rslides-container .rslides li .md, #developer #projects2 .rslides-container .rslides li .md, #designer #projects1 .rslides-container .rslides li .md, #designer #projects2 .rslides-container .rslides li .md {
    width: 300px;
  }
}
