@import url(https://fonts.googleapis.com/css?family=Muli|Droid+Sans+Mono|Acme|Norican|Fredoka+One);
/* line 7, ../../src/sass/_typography.scss */
h1 {
  font-family: "Muli", sans-serif;
  text-align: left;
}
/* line 10, ../../src/sass/_typography.scss */
h1 a {
  text-decoration: none;
  color: black;
}
/* line 14, ../../src/sass/_typography.scss */
h1 a:hover {
  color: orange;
}

/* line 18, ../../src/sass/_typography.scss */
.subtitle {
  font-family: "Droid Sans Mono", serif;
}

/* line 1, ../../src/sass/_layout.scss */
body {
  margin: 0;
}

/* line 4, ../../src/sass/_layout.scss */
.container {
  width: 100vw;
  margin: 0;
}

/* line 8, ../../src/sass/_layout.scss */
#wrapper {
  width: 88%;
  margin: 0 auto;
}

/* line 12, ../../src/sass/_layout.scss */
.jumbo {
  background: #8592f6 url(../img/alexbanner.png) no-repeat 50% 100%;
  width: 100vw;
  height: 70vh;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
/* line 22, ../../src/sass/_layout.scss */
.jumbo .roles .developer {
  font-family: "Droid Sans Mono", serif;
  font-size: 50px;
  color: white;
  text-decoration: none;
}
/* line 28, ../../src/sass/_layout.scss */
.jumbo .roles .designer {
  font-size: 60px;
  letter-spacing: 3px;
  color: white;
  font-family: "Norican", cursive;
  text-decoration: none;
}

/* line 37, ../../src/sass/_layout.scss */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
/* line 42, ../../src/sass/_layout.scss */
.buttons a {
  color: #8592f6;
  text-decoration: none;
  border: #8592f6 2px solid;
  padding: 0.8em 1em;
  font-family: "Muli", sans-serif;
  margin-left: 0.5em;
  margin-top: 5vh;
}
/* line 51, ../../src/sass/_layout.scss */
.buttons a:hover {
  color: white;
  background: #8592f6;
}

/* line 56, ../../src/sass/_layout.scss */
footer {
  font-family: "Muli", sans-serif;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  /* line 65, ../../src/sass/_layout.scss */
  .jumbo {
    justify-content: flex-start;
    align-items: center;
  }
  /* line 68, ../../src/sass/_layout.scss */
  .jumbo .roles {
    padding-left: 10%;
  }
}
@media screen and (min-width: 1300px) {
  /* line 75, ../../src/sass/_layout.scss */
  .jumbo .roles {
    padding-left: 20%;
  }
}
@media screen and (min-width: 1400px) {
  /* line 81, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1600w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 1400px) {
  /* line 87, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1400w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 92, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1200w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 1000px) {
  /* line 97, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner1000w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 850px) {
  /* line 102, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner850w.png) no-repeat 50% 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 107, ../../src/sass/_layout.scss */
  .jumbo {
    background: #8592f6 url(../img/alexbanner700w.png) no-repeat 50% 100%;
  }
}
/* line 1, ../../src/sass/_navigation.scss */
.bar {
  width: 100vw;
  position: fixed;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}
/* line 9, ../../src/sass/_navigation.scss */
.bar .brand {
  margin-left: 1em;
}
/* line 12, ../../src/sass/_navigation.scss */
.bar .brand:hover {
  color: orange;
}
/* line 15, ../../src/sass/_navigation.scss */
.bar .contact {
  padding-top: 30px;
}
/* line 17, ../../src/sass/_navigation.scss */
.bar .contact a {
  text-decoration: none;
  font-family: "Muli", sans-serif;
  color: black;
  text-align: right;
  margin-right: 3em;
}
/* line 24, ../../src/sass/_navigation.scss */
.bar .contact p {
  font-family: "Muli", sans-serif;
  color: black;
  text-align: right;
  margin-right: 1.5em;
}
/* line 30, ../../src/sass/_navigation.scss */
.bar .contact a:hover, .bar .contact p:hover {
  color: orange;
}

@media screen and (min-width: 420px) {
  /* line 38, ../../src/sass/_navigation.scss */
  .bar .contact p {
    margin-right: 0;
  }
  /* line 41, ../../src/sass/_navigation.scss */
  .bar .contact a {
    margin-right: 0;
  }
}
@media screen and (min-width: 700px) {
  /* line 48, ../../src/sass/_navigation.scss */
  .bar {
    justify-content: space-between;
  }
  /* line 50, ../../src/sass/_navigation.scss */
  .bar .contact {
    padding-right: 2em;
    font-size: 18px;
    padding-top: 1em;
  }
}
/* line 2, ../../src/sass/_portfoliopages.scss */
#developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 10em;
}
/* line 8, ../../src/sass/_portfoliopages.scss */
#developer #skills {
  width: 100%;
}
/* line 10, ../../src/sass/_portfoliopages.scss */
#developer #skills h2 {
  color: #8592f6;
  font-family: "Droid Sans Mono", serif;
  font-size: 50px;
  padding-left: 0.5em;
}
/* line 16, ../../src/sass/_portfoliopages.scss */
#developer #skills h3 {
  margin-top: 3em;
  font-size: 30px;
  padding-left: 1em;
}
/* line 22, ../../src/sass/_portfoliopages.scss */
#developer #skills ul li {
  list-style: none;
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
}
/* line 27, ../../src/sass/_portfoliopages.scss */
#developer #skills ul li span {
  margin-right: 10px;
}
/* line 33, ../../src/sass/_portfoliopages.scss */
#developer #projects {
  width: 100%;
}
/* line 35, ../../src/sass/_portfoliopages.scss */
#developer #projects h3 {
  font-family: "Droid Sans Mono", serif;
}

/* line 40, ../../src/sass/_portfoliopages.scss */
#designer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10em;
  align-items: flex-start;
}
/* line 46, ../../src/sass/_portfoliopages.scss */
#designer #skills {
  width: 100%;
}
/* line 48, ../../src/sass/_portfoliopages.scss */
#designer #skills h2 {
  color: #8592f6;
  font-family: "Norican", cursive;
  font-size: 70px;
  text-align: right;
  margin-top: 0;
}
/* line 55, ../../src/sass/_portfoliopages.scss */
#designer #skills h3 {
  font-size: 30px;
  text-align: right;
}
/* line 60, ../../src/sass/_portfoliopages.scss */
#designer #skills ul li {
  list-style: none;
  font-family: "Muli", sans-serif;
  line-height: 40px;
  font-size: 20px;
  text-align: right;
}
/* line 66, ../../src/sass/_portfoliopages.scss */
#designer #skills ul li span {
  margin-left: 10px;
}
/* line 72, ../../src/sass/_portfoliopages.scss */
#designer #projects {
  width: 100%;
}

/* line 78, ../../src/sass/_portfoliopages.scss */
.rslides-container {
  border-radius: 8px;
  position: relative;
  margin: 0 0 1em 0;
  padding: 0.375em;
  background: #fff;
}

/* line 86, ../../src/sass/_portfoliopages.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 93, ../../src/sass/_portfoliopages.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Slideshow navigator arrows. */
/* line 110, ../../src/sass/_portfoliopages.scss */
a.rslides_nav {
  padding: 0.25em;
  line-height: 1;
}

/* line 115, ../../src/sass/_portfoliopages.scss */
a.rslides_nav.prev {
  float: left;
  /* This CSS for custom icons */
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../img/aleft.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-top: -30px;
}

/* line 127, ../../src/sass/_portfoliopages.scss */
a.rslides_nav.next {
  float: right;
  /* This CSS for custom icons */
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../img/aright.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-top: -30px;
  right: 5px;
  /* to position to the right */
}

/* line 140, ../../src/sass/_portfoliopages.scss */
a.rslides_nav:hover {
  text-decoration: none;
}

/* Slideshow position indicator tabs. */
/* line 146, ../../src/sass/_portfoliopages.scss */
.rslides_tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
}

/* line 153, ../../src/sass/_portfoliopages.scss */
.rslides_tabs li {
  margin: 0.375em 0.25em 0;
  display: inline-block;
}

/* line 158, ../../src/sass/_portfoliopages.scss */
.rslides_tabs a {
  text-indent: -9999px;
  font-size: 12px;
  border-radius: 50%;
  display: block;
  border: 1px solid;
  border-color: #ccc;
  background: #eee;
  width: 1em;
  height: 1em;
}

/* line 170, ../../src/sass/_portfoliopages.scss */
.rslides_tabs a:hover {
  border-color: #000;
}

/* Highlight the position indicator tab of currently active slide. */
/* line 176, ../../src/sass/_portfoliopages.scss */
.rslides_here a {
  background: #e3e3e3;
}

/* line 179, ../../src/sass/_portfoliopages.scss */
.rslides li img {
  width: 200px;
}

/* line 182, ../../src/sass/_portfoliopages.scss */
.rslides li .lg {
  width: 250px;
  height: auto;
}

/* line 186, ../../src/sass/_portfoliopages.scss */
.rslides li .md {
  width: 200px;
  height: auto;
}

/* line 191, ../../src/sass/_portfoliopages.scss */
.title h3 {
  font-family: "Droid Sans Mono", serif;
  color: #8592f6;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 197, ../../src/sass/_portfoliopages.scss */
.title p {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  width: 70%;
  padding-bottom: 1em;
  height: 100px;
  text-align: center;
}

/* line 206, ../../src/sass/_portfoliopages.scss */
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 88%;
  padding-left: 2em;
}
/* line 212, ../../src/sass/_portfoliopages.scss */
.links a {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  border: 2px solid #8592f6;
  color: #8592f6;
  text-decoration: none;
  padding: 1em 1.5em;
  margin-top: 1em;
  text-align: center;
}
/* line 222, ../../src/sass/_portfoliopages.scss */
.links a:hover {
  color: white;
  background: #8592f6;
  border: 2px solid #8592f6;
}

@media screen and (min-width: 800px) {
  /* line 231, ../../src/sass/_portfoliopages.scss */
  #developer #skills, #designer #skills {
    width: 50%;
  }
  /* line 234, ../../src/sass/_portfoliopages.scss */
  #developer #projects, #designer #projects {
    width: 50%;
  }
  /* line 237, ../../src/sass/_portfoliopages.scss */
  #developer #projects .rslides li, #designer #projects .rslides li {
    height: 65vh;
  }

  /* line 243, ../../src/sass/_portfoliopages.scss */
  #designer {
    height: 65vh;
  }
  /* line 245, ../../src/sass/_portfoliopages.scss */
  #designer #skills {
    width: 50%;
    order: 2;
  }
  /* line 249, ../../src/sass/_portfoliopages.scss */
  #designer footer {
    order: 3;
  }
}
@media screen and (min-width: 1200px) {
  /* line 260, ../../src/sass/_portfoliopages.scss */
  #developer #projects .rslides li .lg, #designer #projects .rslides li .lg {
    width: 500px;
  }
  /* line 263, ../../src/sass/_portfoliopages.scss */
  #developer #projects .rslides li .md, #designer #projects .rslides li .md {
    width: 300px;
  }
}
